body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aquamarine;
    color: black;
    text-align: justify;
}
h1{
    text-align: center;
     color: rgb(231, 247, 7);
    text-shadow: 2px 2px 2px #186815;
}
hr#linha1{
    border-top: 2px solid rgb(18, 109, 18);
}
h2{
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 1px #070707;
}
img{
    margin: auto;
    width: 100%;
}
img#btnvoltar{
    margin-left: 0%;
    width: 4%;
    height: 5%;
}